@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom, #031347, #031347);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "FKScreamerTrial";
  src: url("/fonts/FKScreamerTrial-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "FKScreamerTrial";
  src: url("/fonts/FKScreamerTrial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "FKScreamerTrial";
  src: url("/fonts/FKScreamerTrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-hel {
  font-family: Helvetica, sans-serif;
}

.font-fks {
  font-family: "FKScreamerTrial";
}



/* <CHANGE>  custom animations for scrolling lines left to right */

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}



/* FOR STICKY CARDS */

.slider {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

button {
  cursor: pointer;
}